<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Chat</title>
    </head>
    <link rel="stylesheet" href="/static/style.css">
    <body>
        <header>
            <h1 class="brand">FastMessanger</h1>
            <div class="hello">
                <h2>Привет, <span id="ws-id"></span></h2>
                <button onclick="close_connection()">Выход</button>
            </div>

        </header>
        <main>
            <div id="users">




            </div>

            <div id="messanger">
                <div class="messanger__header">
                    <p><span id="memberName"></span></p>
                    <p><span id="memberStatus" class="online"></span></p>
                </div>
                <hr>
                <div class="messanger__body">
                    <div id="history_view">

                    </div>
                    <hr>
                    <div class="send_form">
                        <form action="" onsubmit="sendMessage(event)">
                            <textarea name="messageText" id="messageText"></textarea> <br>
                            <button type="submit" id="sbmt_btn">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        




        <script src="/static/jquery-3.7.1.min.js"></script>
        <script src="/static/script.js"></script>
    </body>
</html>