<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <link rel="stylesheet" href="/static/style.css">
    <body>
        <header>
            <h1 class="brand">FastMessanger</h1>
            <div class="hello">
                <h2>Привет, <span id="ws-id"></span></h2>
                <button onclick="close_connection()">Выход</button>
            </div>

        </header>
        <main>
            <div id="users">
                <div class="user" id="xunil">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status offline">offline</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div><div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div><div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div><div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>
                <div class="user">
                    <p><span class="user__name">xunil</span></p>
                    <p><span class="user__status online">online</span></p>
                </div>



            </div>

            <div id="messanger">
                <div class="messanger__header">
                    <p><span id="memberName">xunil</span></p>
                    <p><span id="memberStatus" class="online">online</span></p>
                </div>
                <hr>
                <div class="messanger__body">
                    <div id="history_view">
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>

                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                        <div class="message">
                            <div class="message__header">
                                <p><span class="sender">xunil</span></p>
                                <p><span class="date">2012-11-22 18:05:05</span></p>
                            </div>
                            <div class="message__content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium pariatur perspiciatis quis quisquam sequi, ut voluptatem. Ab accusamus alias cum et explicabo id, ipsum magnam perferendis qui quia, ut voluptate.
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="send_form">
                        <form action="" onsubmit="sendMessage(event)">
                            <textarea name="messageText" id="messageText"></textarea> <br>
                            <button type="submit">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        




        <script src="http://192.168.31.153:8000/static/jquery-3.7.1.min.js"></script>
        <script src="http://192.168.31.153:8000/static/script.js"></script>
    </body>
</html>