<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
</head>
<body>
    <h1>Вход</h1>
    <div id="err_box">
        
    </div>
    <form action="" onsubmit="authUser(event)">
        <input type="text" id="username" placeholder="username"/><br>
        <input type="password" id="password" placeholder="password"/><br>
        <button>Войти</button>
    </form>

    <script src="http://192.168.31.153:8000/static/jquery-3.7.1.min.js"></script>
    <script src="http://192.168.31.153:8000/static/login.js"></script>
</body>
</html>